--extra-index-url https://download.pytorch.org/whl/cu118
-e "../tlc-monorepo[umap,pacmap]"
torchvision
timm
matplotlib
jupyter
ipywidgets
Pillow
mypy
types-tqdm
opencv-python
python-chess
tomli
torchinfo
cairosvg
cleanvision[all]
cleanlab[all]